@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Cookie&family=Poppins:wght@600&display=swap');

/* Navbar styling */
nav {
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: white;
    z-index: 200;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
    filter: contrast(1.2) brightness(1.1) saturate(1.3);
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: blue;
    filter: contrast(1.2) brightness(1.1) saturate(1.3);

}

.logoutbtn {
    background-color: #dc3545;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.logoutbtn:hover {
    background-color: #c82333;
}

.logo {
    height: 90%;
    display: flex;
    justify-content: center;
}
.logo .bluebirdlogo {
    height: 100%;
}

.logo p {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 30px;
    /* color: blue; */
    color: blue;

}
/* Form container and form elements */
.form-container {
    max-width: 500px;
    margin: 100px auto; /* Add top margin to avoid overlapping with navbar */
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: var(--bg-box-shadow);
}

.form-select, .btn {
    font-size: 0.875rem;
}

.form-control, .form-select {
    padding: 0.75rem 1.25rem;
    border-radius: 5px;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
}

.btn {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}

/* Severity icons */
.input-group-text {
    border: none;
    background: transparent;
    font-size: 1.25rem;
    padding: 0.5rem;
}

.icon-low {
    color: green;
}

.icon-medium {
    color: orange;
}

.icon-high {
    color: red;
}

.icon-critical {
    color: darkred;
}
